# LOCALIZATION
timezone Europe/Moscow
lang en_US.UTF-8 --addsupport=ru_RU.UTF-8
keyboard --vckeymap=us --xlayouts='us','ru' --switch='grp:alt_shift_toggle'

# NETWORK
network --noipv6 --activate --hostname=newbie

# SYSTEM
%addon com_redhat_kdump --disable
%end

# SOFTWARE
%packages
@^minimal-environment
%end

# POSTINSTALL
firstboot --disabled
reboot

# SECURITY
rootpw --plaintext yandex

# PARTITIONING
text
clearpart --drives=sda --initlabel --all
autopart --type=plain
bootloader --location=mbr --boot-drive=sda
