/vagrant/.vagrant/

/terraform/.terraform/
/terraform/*.tfstate*
/terraform/.terraform.lock.hcl

/ansible/external_collections/
/ansible/external_roles/
*.retry

/.py-env/
/.venv/

*.swp

/tmp/
/.env
/packer-manifest.json

