#  - name: gnome workspace 4
#    ansible.builtin.command: dbus-launch --exit-with-session gnome-extensions enable workspace-indicator@gnome-shell-extensions.gcampax.github.com
#
#  - name: Print some debug information
#    vars:
#      msg: |
#        Module Variables ("vars"):
#        --------------------------------
#        {{ vars | to_nice_json }}
#
#        Environment Variables ("environment"):
#        --------------------------------
#        {{ environment | to_nice_json }}
#
#        GROUP NAMES Variables ("group_names"):
#        --------------------------------
#        {{ group_names | to_nice_json }}
#
#        GROUPS Variables ("groups"):
#        --------------------------------
#        {{ groups | to_nice_json }}
#
#        HOST Variables ("hostvars"):
#        --------------------------------
#        {{ hostvars | to_nice_json }}
#
#    debug:
#      msg: "{{ msg.split('\n') }}"
#    tags: debug_info
#
#  - debug:
#      msg: System {{ ansible_user_dir }}
#  - ansible.builtin.command: id
#    register: out
#  - debug: var=out.stdout_lines
#
#  - debug:
#      msg: System {{ ansible_user_dir }}
#    become: true
- name: Get user id
  ansible.builtin.command: id
  register: gnome_de_user_id
  become: true
  changed_when: false
- name: Show user id
  ansible.builtin.debug:
    var: gnome_de_user_id.stdout_lines
  changed_when: false
