---
- name: "Added EPEL"
  ansible.builtin.include_tasks: "repos/epel.yml"

- name: "Add flathub repo"
  ansible.builtin.include_tasks: "repos/flathub.yml"

- name: "Add file utilites, part 1"
  become: true
  tags: basic
  ansible.builtin.dnf:
    state: present
    name:
      - tree
      - mc
      - unzip
      - tar
      - zstd
      - cifs-utils
      - lsof
      - iotop
      - sysstat

- name: "Add file utilites, part 2"
  become: true
  ansible.builtin.dnf:
    state: present
    name:
      - ncdu
      - p7zip
      - p7zip-plugins

- name: "Add file tools, part 1"
  become: true
  tags: basic
  ansible.builtin.dnf:
    state: present
    name:
      - nautilus
      - seahorse
      - gvfs-mtp
      - gvfs-smb
      - gvfs-gphoto2
      - gvfs-fuse
      - xdg-utils
      - xdg-user-dirs-gtk

- name: "Setup file manager"
  tags: basic
  community.general.dconf:
    key: "{{ item.key }}"
    value: "{{ item.value | string }}"
  loop:
    - { key: "/org/gnome/nautilus/list-view/use-tree-view", value: "true" }
    - { key: "/org/gnome/desktop/media-handling/autorun-never", value: "true" }
    - { key: "/org/gnome/nautilus/list-view/default-zoom-level", value: "'small'" }
    - { key: "/org/gnome/settings-daemon/plugins/media-keys/home", value: "['<Super>e']" }
    - { key: "/org/gnome/nautilus/preferences/default-folder-viewer", value: "'list-view'" }
    - { key: "/org/gnome/nautilus/preferences/search-filter-time-type", value: "'last_modified'" }

- name: "Add archiver"
  become: true
  community.general.flatpak:
    name: "{{ item }}"
    state: present
  loop:
    - io.github.peazip.PeaZip

- name: "Add bash link to mc"
  tags: basic
  ansible.builtin.blockinfile:
    dest: ~/.bashrc
    marker: "#<!-- {mark} ANSIBLE MANAGED BLOCK filemanager mc -->"
    block: |
      alias mc="mc -b"
