- name: "Add locale packages"
  become: true
  tags: basic
  ansible.builtin.dnf:
    state: present
    name:
      - langpacks-ru
      - glibc-langpack-ru

- name: "Get LANG locale" # noqa risky-shell-pipe
  tags: basic
  ansible.builtin.shell:
    cmd: locale | grep LANG | cut -d "=" -f2
  register: gnome_de_env_lang
  changed_when: false

- name: "Setup RU locale"
  become: true
  tags: basic
  when: gnome_de_env_lang.stdout != "ru_RU.UTF-8"
  ansible.builtin.command:
    cmd: localectl set-locale "LANG=ru_RU.UTF-8"
  changed_when: true

- name: "Get LC_MESSAGES locale" # noqa risky-shell-pipe
  tags: basic
  ansible.builtin.shell:
    cmd: locale | grep LC_MESSAGES | cut -d "=" -f2
  register: gnome_de_env_lc_messages
  changed_when: false

- name: "Setup LC_MESSAGES locale"
  become: true
  tags: basic
  when: gnome_de_env_lc_messages.stdout != "en_US.UTF-8"
  ansible.builtin.command:
    cmd: localectl set-locale "LC_MESSAGES=en_US.UTF-8"
  changed_when: true

- name: "Setup Moscow timezone"
  become: true
  tags: basic
  community.general.timezone:
    name: Europe/Moscow

- name: "Setup locale switcher"
  tags: basic
  community.general.dconf:
    key: "{{ item.key }}"
    value: "{{ item.value | string }}"
  loop:
    - { key: "/org/gnome/desktop/input-sources/sources", value: "[('xkb', 'us'), ('xkb', 'ru')]" }
    - { key: "/org/gnome/desktop/input-sources/xkb-options", value: "['grp:ctrl_space_toggle']" }
    - { key: "/org/gnome/desktop/input-sources/per-window", value: "true" }

- name: "Setup gnome region"
  tags: basic
  community.general.dconf:
    key: "/system/locale/region"
    value: "'ru_RU.UTF-8'"
