- name: "Add flathub repo"
  ansible.builtin.include_tasks: "repos/flathub.yml"

- name: "Add office utilities"
  become: true
  community.general.flatpak:
    name: "{{ item }}"
    state: present
  loop:
    # - org.gnome.Papers
    # - org.libreoffice.LibreOffice
    - org.onlyoffice.desktopeditors
    - org.gnome.TextEditor
    - org.gnome.Loupe
