- name: "Add basic apps"
  become: true
  tags: basic
  ansible.builtin.dnf:
    name:
      - man
      - vim
      - less
      - bash-completion
      - tmux
    state: present

- name: "Setup vim"
  become: true
  tags: basic
  ansible.builtin.copy:
    src: .vimrc
    mode: u=rw,g=r,o=r
    dest: /root

- name: "Setup vim for root"
  tags: basic
  ansible.builtin.copy:
    src: .vimrc
    mode: u=rw,g=r,o=r
    dest: ~/

- name: "Setup terminal multiplexor"
  tags: basic
  ansible.builtin.blockinfile:
    dest: ~/.tmux.conf
    mode: u=rw,g=r,o=r
    create: true
    marker: "#<!-- {mark} ANSIBLE MANAGED BLOCK internet tmux 2 -->"
    block: |
      unbind-key C-b
      set-option -g prefix C-a
      bind-key C-a send-prefix
      set-option -g history-limit 5000

- name: "Setup bash"
  tags: basic
  ansible.builtin.blockinfile:
    dest: ~/.bashrc
    mode: u=rw,g=r,o=r
    create: true
    marker: "#<!-- {mark} ANSIBLE MANAGED BLOCK terminal bash -->"
    block: |
      export EDITOR="vim"
      set -o vi
      bind -m vi-insert "\C-l":clear-screen
      # ---------------------
      # Undocumented feature which sets the size to "unlimited".
      # http://stackoverflow.com/questions/9457233/unlimited-bash-history
      export HISTFILESIZE=
      export HISTSIZE=
      export HISTTIMEFORMAT="[%F %T] "
      # Change the file location because certain bash sessions truncate .bash_history file upon close.
      # http://superuser.com/questions/575479/bash-history-truncated-to-500-lines-on-each-login
      export HISTFILE=~/.bash_eternal_history
      # Force prompt to write history after every command.
      # http://superuser.com/questions/20900/bash-history-loss
      PROMPT_COMMAND="history -a; $PROMPT_COMMAND"

- name: "Add terminal app"
  become: true
  tags: basic
  ansible.builtin.dnf:
    name: ptyxis
    state: present
