- name: "Add Firefox"
  tags: [never, basic]
  become: true
  ansible.builtin.dnf:
    state: present
    name: firefox

- name: "Add Firefox config directory"
  tags: [never, basic]
  ansible.builtin.stat:
    path: ~/.mozilla
  register: mozilla

- name: "Setup Firefox"
  tags: [never, basic]
  when: not mozilla.stat.exists
  block:
# https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/Headless_mode
    - name: "Create Firefox default config"
      ansible.builtin.shell: # noqa no-changed-when
        cmd: firefox --headless -CreateProfile default && firefox --headless -P default --screenshot about:logo && rm screenshot.png

    - name: "Register Firefox default profile"
      ansible.builtin.shell: # noqa no-changed-when
        cmd: find ~/.mozilla/firefox/ -maxdepth 1 -type d -name "*.default" -printf '%f\n'
      register: out
      ignore_errors: true

    - name: "Make ff_profile variable"
      ansible.builtin.set_fact:
        ff_profile: "{{ out.stdout }}"

    - name: "Setup Firefox"
      ansible.builtin.copy:
        src: firefox/user.js
        mode: u=rw,g=,o=
        dest: "~/.mozilla/firefox/{{ ff_profile }}/"
